:root {
  --color-primary: #f77f00;
  --color-secondary: #fcbf49;
  --color-headings: #003049;
  --color-accent: #d62828;
  --color-body: #918ca4;
  --input-border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Container class */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style-type: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--accent {
  fill: var(--color-accent);
}

.icon-container {
  align-items: center;
  background-color: #eee;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container--accent {
  background-color: var(--color-accent);
  fill: #fff;
}

.dropdown__list-item .icon-container {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
}

.dropdown__list-item .icon {
  width: 25px;
  height: 25px;
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem 0;
  outline: 0;
  padding: 1.8rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--small {
  font-size: 1.3rem;
  padding: 1.5rem 2rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #ff8f18;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #fdcb67;
  color: #fff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #d84343;
  color: #fff;
}

.btn--outline {
  border: 2px solid var(--color-headings);
  background-color: #fff;
  color: var(--color-headings);
}

.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
  transition: background-color 0.3s;
}

.navbar .btn {
  margin: 0;
}

.btn:disabled {
  cursor: not-allowed;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }

  .btn--small {
    font-size: 1.2rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

/* Media Objects */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin-top: 0;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__line {
  position: relative;
  bottom: 15px;
}

.quote__author {
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  font-size: 1.5rem;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Testimonials */
.testimonial {
  padding: 3rem;
}

.testimonial__image {
  position: relative;
  margin: 0;
}

.testimonial__image > img {
  width: 100%;
  border-radius: 7px;
}

.testimonial .icon-container {
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
}

.testimonial .quote {
  margin: 2rem 0;
  font-size: 110%;
  align-self: center;
}

.testimonial .media__description {
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  .testimonial__image {
    margin: 0;
  }

  .testimonial .quote {
    margin-left: 6rem;
    font-size: 120%;
    line-height: 1.5;
  }
}

/* Labels (Input Labels) */
.label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Inputs */
.input {
  background-color: transparent;
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-headings);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

.input-error {
  color: var(--color-accent);
  font-weight: bold;
  font-size: 1.5rem;
}

.input-group {
  border: 1px solid var(--color-headings);
  border-radius: var(--input-border-radius);
  display: flex;
  padding: 0 1rem;
}

.input-group:focus-within {
  border: 1px solid rgba(21, 156, 228, 0.4);
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4);
  transition: all 0.3s;
}

.input-group__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input-group__icon .icon {
  width: 30px;
  height: 30px;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
  margin: 0;
}

::placeholder {
  color: #909090;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Tables */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table__cell {
  padding: 0.5rem;
}

.table--text-left {
  text-align: left;
}

.table--text-center {
  text-align: center;
}

.table--compact .table__cell {
  padding: 0;
}

.table--striped .table__row:nth-child(odd),
.table--hover .table__row:hover {
  background-color: #eee;
}

/* Loader */
.loader {
  margin: 4rem auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  max-width: 70px;
  justify-items: center;
  animation-name: rotate;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.loader :nth-child(1) {
  background-color: var(--color-primary);
}
.loader :nth-child(2) {
  background-color: var(--color-accent);
}
.loader :nth-child(3) {
  background-color: var(--color-headings);
}
.loader :nth-child(4) {
  background-color: var(--color-secondary);
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Errors */
.error {
  padding: 1rem 4rem;
  background-color: var(--color-accent);
  border-radius: 10px;
}

.error__heading {
  color: #fff;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-secondary);
}

.error__message {
  color: #fff;
  margin-top: 2rem;
}

/* Alerts */
.alert {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 7px;
  color: #fff;
  margin: 1rem 0;
}

.alert--success {
  background-color: #3de98e;
}

.alert--warning {
  background-color: var(--color-secondary);
}

.alert--danger {
  background-color: #ef5d5d;
}

/* Grids */
.grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Step Counter */
.step-counter {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.counter__box {
  display: block;
  align-self: center;
  font-weight: bold;
  color: var(--color-headings);
  padding: 1rem 1.8rem;
  border: 1px solid var(--color-body);
  border-radius: 7px;
}

.counter__box--completed,
.counter__box--active {
  background-color: var(--color-secondary);
}

.counter__bar {
  width: 100%;
  height: 10px;
  align-self: center;
  border-top: 1px solid var(--color-body);
  border-bottom: 1px solid var(--color-body);
}

.counter__bar--completed {
  background-color: var(--color-secondary);
}

.counter__bar:last-of-type {
  display: none;
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__toggler {
  transform: rotate(-90deg);
  transition: transform 0.2s;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.collapsible--expanded .collapsible__toggler {
  transform: rotate(0deg);
}

/* Dropdown */
.dropdown {
  position: relative;
}

.dropdown__btn {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown__btn .icon {
  width: 10px;
  height: 10px;
  margin-left: 1rem;
  fill: #fff;
}

.dropdown__menu {
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 var(--color-body);
  position: absolute;
  left: 0;
  top: calc(100% + 1.5rem);
  padding: 2rem;
  transform: translateY(-30px);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.dropdown--expanded .dropdown__menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown__list {
  padding: 0;
}

.dropdown__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.dropdown__list-item:hover {
  background-color: rgba(240, 240, 240, 0.5);
}

.dropdown__list-item a {
  color: var(--color-body);
  text-decoration: none;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .dropdown__menu {
    left: auto;
    right: 0;
  }
}

/* Blocks */
.block {
  padding: 5rem 2rem;
}

.block--dark {
  background-color: #000;
}

.block--skewed {
  clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0% 97%);
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

/* NavBar */
.navbar {
  align-items: center;
  background-color: var(--color-headings);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav__brand {
  transform: translateY(4px);
}

.nav__toggler {
  width: 5rem;
  height: 4.5rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav__toggler span {
  background: var(--color-secondary);
  border-radius: 9px;
  display: block;
  height: 4px;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 80%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav__toggler span:nth-child(1) {
  top: 5px;
}

.nav__toggler span:nth-child(2),
.nav__toggler span:nth-child(3) {
  top: 20px;
}

.nav__toggler span:nth-child(4) {
  top: 34px;
}

.nav--expanded .nav__toggler span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav--expanded .nav__toggler span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav--expanded .nav__toggler span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav--expanded .nav__toggler span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav__list {
  width: 100%;
  max-height: 0;
  opacity: 0;
  margin: 0;
  transition: opacity 0.25s;
  pointer-events: none;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #6e6e6e;
}

.nav__item > a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav__item > a:hover,
.nav__item .dropdown button:hover,
.nav__item .dropdown button.active,
.nav__item a.active {
  color: var(--color-secondary);
}

.nav--expanded .nav__list {
  max-height: 100%;
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-height: 100%;
    opacity: 1;
    pointer-events: auto;
  }

  .nav__item {
    font-size: 1.6rem;
    border-bottom: 0;
  }
}

/* Product Card */
.product {
  display: grid;
  grid-template: 1fr / 1fr;
}

.product .card__header,
.product .card__body {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
}

.product__image {
  overflow: hidden;
  border-radius: 7px;
  cursor: pointer;
}

.product__image img {
  display: block;
  width: 100%;
  transition: transform 0.5s;
}

.product__image img:hover {
  transform: scale(1.2);
}

.product__name {
  color: var(--color-headings);
  display: inline-block;
  font-size: 2.5rem;
  margin-top: 1.2rem;
}

.product__rate {
  font-size: 2.2rem;
  color: var(--color-primary);
  font-weight: bold;
}

.product__rate > span {
  color: var(--color-body);
  font-weight: normal;
  font-size: 1.5rem;
}

.product .card__body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
}

/* Cart Product Card */
.cart-product {
  max-width: 50rem;
  margin: 0 auto;
  align-self: flex-start;
}

.cart-product .card__body {
  padding: 2rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

.cart-product__image img {
  width: 100%;
  border-radius: 7px;
}

.cart-product__name {
  font-size: 2.5rem;
  margin-top: 2rem;
}

.cart-product__name a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.cart-product .list {
  margin-top: 0;
}

.cart-product .list .list-item:nth-child(odd) {
  color: var(--color-headings);
}

.cart-product .list .list-item:nth-child(even) {
  font-weight: bold;
  color: var(--color-primary);
}

.cart-product .btn {
  margin: 0;
}

.cart-product__button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-product__button-container .icon {
  cursor: pointer;
}

.cart-product__button-container .icon:hover {
  filter: opacity(0.8);
}

@media screen and (min-width: 1024px) {
  .block-cart .grid--1x2 {
    grid-template-columns: 1fr;
  }

  .cart-product {
    max-width: 100%;
  }

  .cart-product__image {
    flex-basis: 150px;
  }

  .cart-product__name {
    font-size: 2.5rem;
    flex-basis: 200px;
  }

  .cart-product__name,
  .cart-product .list {
    margin: 0;
  }

  .cart-product .card__body {
    font-size: 1.8rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .cart-product__button-container {
    column-gap: 4rem;
    flex-direction: row-reverse;
  }
}

/* Summary Card */
.summary-card .card__header {
  padding-bottom: 0;
}

.summary-card .card__body {
  padding-top: 0;
}

.summary-card hr {
  margin: 2rem 0;
}

.summary-card .card__header h3 {
  margin: 0;
}

.summary-card .table__cell {
  padding-bottom: 1rem;
}

.summary-card .table__cell:nth-child(even) {
  font-weight: bold;
  white-space: nowrap;
}

/* Callout */
.callout {
  background-color: var(--color-primary);
  color: #fff;
  padding: 4rem;
  border-radius: 7px;
}

.callout__content {
  text-align: center;
}

.callout__heading {
  color: #fff;
  font-size: 3rem;
  margin-top: 0;
}

.callout .btn {
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .callout__content {
    text-align: left;
  }

  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }

  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
}

/* Footer */
.footer.block {
  padding-top: 10rem;
  background-color: var(--color-headings);
  margin-top: auto;
}

.footer__section {
  border-bottom: 1px solid #6e6e6e;
  padding: 2rem;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-secondary);
  transition: color 0.3s;
}

.footer .list {
  margin-top: 0;
  text-transform: capitalize;
}

.footer .list li {
  margin-bottom: 0.4rem;
}

.footer .collapsible__heading {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.footer .collapsible__toggler {
  filter: invert(1);
}

.footer__brand > img {
  margin-bottom: 1rem;
}

.footer__brand {
  text-align: center;
  margin-top: 5rem;
}

.footer__copyright {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.5rem;
  }

  .footer__sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer__section {
    border: 0;
  }

  .footer .collapsible__heading {
    font-size: 1.7rem;
  }

  .footer .collapsible__toggler {
    display: none;
  }

  .footer .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  .footer__brand {
    order: -1;
    margin-top: 1.5rem;
  }
}

/* Feature */
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0px 0px 10px var(--color-body);
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Showcase */
.block-showcase__image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: end;
    align-self: center;
  }

  .block-showcase__image > img {
    width: auto;
  }
}

/* Hero */
.hero {
  background: url('../../public/assets/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 0px 5px 10px #000000;
}

.hero__overlay {
  background-color: rgba(0, 0, 0, 0.35);
}

.hero__headline {
  margin-top: 0;
  color: #fff;
  text-transform: capitalize;
}

.hero__tagline {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 3rem 0 4rem;
}

.hero .btn {
  letter-spacing: 1px;
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .hero .block {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

/* SignUp Callout */
.callout {
  transform: translateY(5rem);
}

/* Vehicle Search */
.block-vehicles .vehicle-search.grid {
  justify-items: stretch;
  gap: 3rem 1rem;
  margin-bottom: 4rem;
}

.vehicle-search .btn {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .block-vehicles .vehicle-search.grid {
    align-items: flex-end;
    grid-template-columns: 4fr 4fr 2fr;
  }
}

/* Vehicles Block */
.block-vehicles .grid {
  gap: 5rem 2rem;
}

.block-vehicles .product {
  max-width: 500px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .block-vehicles .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Sign UP and Sign In  */
.signup,
.signin {
  max-width: 600px;
  box-shadow: 0 0 10px var(--color-body);
  padding: 1rem 3rem;
  margin: 5rem 1rem;
  border-radius: 7px;
}

.signup__logo,
.signin__logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.signup__logo {
  fill: var(--color-accent);
  stroke: var(--color-accent);
}

.signin__logo {
  stroke: var(--color-primary);
}

.signup__heading,
.signin__heading {
  margin: 3rem 0 4rem 0;
  padding-left: 2rem;
  text-transform: uppercase;
}

.signup__heading {
  border-left: 1rem solid var(--color-accent);
}

.signin__heading {
  border-left: 1rem solid var(--color-primary);
}

.signup__name-container {
  justify-self: flex-start;
  width: 100%;
}

.signup .label,
.signin .label {
  margin-left: 1rem;
}

.signup .input-error,
.signin .input-error {
  padding: 0.5rem 0 0.5rem 1rem;
}

.signup .input-group,
.signin .input-group {
  margin-bottom: 3rem;
}

.signup__password-toggler .icon,
.signin__password-toggler .icon {
  cursor: pointer;
}

.signup__prompt,
.signin__prompt {
  margin-top: 3rem;
  font-size: 1.5rem;
  text-align: center;
}

.signup__prompt a,
.signin__prompt a {
  color: var(--color-headings);
  text-decoration: none;
}

.signup__response-error,
.signin__response-error {
  text-align: center;
  font-weight: bold;
  color: var(--color-accent);
}

@media screen and (min-width: 768px) {
  .signup,
  .signin {
    margin: 5rem auto;
    padding: 1rem 5rem;
  }

  .signup__prompt,
  .signin__prompt {
    font-size: 1.8rem;
  }
}

/* Vehicle Details Screen Block */
/* Display Card */
.block-vehicle-screen .card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
}

.vehicle__display.card {
  justify-self: stretch;
  height: max-content;
}

.vehicle__display .card__header {
  padding: 1rem 1rem 0 1rem;
}

.vehicle__display .card__body {
  padding: 0 1rem 0 1rem;
}

.vehicle__display__image {
  width: 100%;
  border-radius: 7px;
}

/* Details Card */
.vehicle__details.card {
  justify-self: stretch;
}

.vehicle__details .card__body {
  padding-top: 0;
}

.vehicle__details .vehicle__name {
  margin: 0;
}

.vehicle__details .vehicle__rental-rate {
  margin-top: 1rem;
  font-size: 2.5rem;
}

.vehicle__rental-rate span:first-of-type,
.vehicle__rental-rate span:last-of-type {
  color: var(--color-primary);
  font-weight: normal;
  font-size: 2rem;
}

.vehicle__rental-rate span:last-of-type {
  color: var(--color-body);
}

/* Details Card - Vehicle Features */
.vehicle__features {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
}

.vehicle__features-label {
  color: var(--color-headings);
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 2rem;
}

.vehicle__features .icon-container {
  width: 40px;
  height: 40px;
  margin-top: 0;
}

.vehicle__features .icon {
  width: 25px;
  height: 25px;
}

.vehicle__features .media__body {
  margin-right: 0;
  margin-left: 1rem;
}

.vehicle__features .media__title {
  color: var(--color-body);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.vehicle__features .media,
.vehicle__features .media__description {
  margin-bottom: 0;
  font-size: 1.2rem;
}

/* Vehicle Description & Vehicle Terms and Conditions */
.vehicle__description,
.vehicle__terms {
  margin-top: 1rem;
}

.vehicle__description__heading,
.vehicle__terms__heading {
  font-weight: normal;
  margin: 0;
}

.vehicle__description .card__body,
.vehicle__terms .card__body {
  padding-top: 0;
}

.vehicle__terms .list {
  margin-top: 0;
  padding-left: 2rem;
  list-style-type: circle;
}

@media screen and (min-width: 768px) {
  .vehicle__display.card {
    position: sticky;
    top: 1rem;
  }

  .vehicle__features .icon-container {
    width: 64px;
    height: 64px;
  }

  .vehicle__features .icon {
    width: 40px;
    height: 40px;
  }

  .vehicle__features .media__title {
    font-size: 1.8rem;
  }

  .vehicle__features .media__description {
    font-size: 1.8rem;
  }
}

/* Checkout Block */
.block.block-checkout {
  padding-top: 4rem;
}

.block-checkout .step-counter {
  max-width: 50rem;
  margin: auto;
}

.checkout-form {
  margin: 4rem auto 0 auto;
  max-width: 50rem;
}

.checkout-form .label {
  margin-left: 1rem;
}

.checkout-form .input-error {
  padding: 0.5rem 0 0.5rem 1rem;
}

.checkout-form .input-group {
  margin-bottom: 3rem;
}

.checkout-form .checkout-form__error-response {
  text-align: center;
  font-weight: bold;
  color: var(--color-accent);
}

/* Place Rental Screen / Rental Details Block */
.block-rental-details .grid {
  row-gap: 2rem;
}

/* Rental details */
.block-rental-details .block__header {
  margin-top: 3rem;
  margin-bottom: 0;
}

.rental-details-table .table__cell:nth-child(odd)::after,
.payment-method-table .table__cell:nth-child(odd)::after {
  content: ' :';
}

.rental-details-table .table__cell:nth-child(odd),
.payment-method-table .table__cell:nth-child(odd) {
  font-weight: bold;
  color: var(--color-primary);
}

.block-rental-details .grid h3:first-of-type {
  margin-top: 0;
}

/* Payment status */
.payment-method-table {
  width: auto;
  margin-bottom: 2rem;
}

/* Rental summary */
.block-rental-details .summary-card {
  width: 100%;
  max-width: 35rem;
}

@media screen and (min-width: 768px) {
  .block-rental-details .summary-card {
    justify-self: flex-end;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .rental-details-table .table__cell:nth-child(odd),
  .payment-method-table .table__cell:nth-child(odd) {
    white-space: nowrap;
  }
}
