:root {
  --color-primary: #f77f00;
  --color-secondary: #fcbf49;
  --color-headings: #003049;
  --color-accent: #d62828;
  --color-body: #918ca4;
  --input-border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Container class */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 0.3rem 1rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style-type: none;
  padding-left: 0;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem 0;
  outline: 0;
  padding: 1.8rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--block {
  display: inline-block;
  width: 100%;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--small {
  font-size: 1.3rem;
  padding: 1.5rem 2rem;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #ff8f18;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #fdcb67;
  color: #fff;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #d84343;
  color: #fff;
}

.btn--outline {
  border: 2px solid var(--color-headings);
  background-color: #fff;
  color: var(--color-headings);
}

.btn--outline:hover {
  background-color: var(--color-headings);
  color: #fff;
  transition: background-color 0.3s;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }

  .btn--small {
    font-size: 1.2rem;
  }
}

/* Cards */
.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

.card--primary .card__header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background-color: var(--color-secondary);
  color: #fff;
}

/* Media Objects */
.media {
  display: flex;
  margin-bottom: 4rem;
}

.media__image {
  margin-top: 1rem;
}

.media__body {
  margin: 0 2rem;
}

.media__title {
  margin-top: 0;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__line {
  position: relative;
  bottom: 15px;
}

.quote__author {
  font-size: 2rem;
  font-style: normal;
  margin-bottom: 0;
}

.quote__organization {
  font-size: 1.5rem;
  font-style: normal;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }

  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* Inputs */
.input {
  border-radius: var(--input-border-radius);
  border: 1px solid var(--color-headings);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #909090;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* Loader */
.loader {
  margin: 4rem auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  max-width: 70px;
  justify-items: center;
  animation-name: rotate;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.loader span {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.loader :nth-child(1) {
  background-color: var(--color-primary);
}
.loader :nth-child(2) {
  background-color: var(--color-accent);
}
.loader :nth-child(3) {
  background-color: var(--color-headings);
}
.loader :nth-child(4) {
  background-color: var(--color-secondary);
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Grids */
.grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__toggler {
  transform: rotate(-90deg);
  transition: transform 0.2s;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.collapsible--expanded .collapsible__toggler {
  transform: rotate(0deg);
}

/* Blocks */
.block {
  padding: 5rem 2rem;
}

.block--dark {
  background-color: #000;
}

.block--skewed {
  clip-path: polygon(0% 0%, 100% 3%, 100% 100%, 0% 97%);
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

/* NavBar */
.navbar {
  align-items: center;
  background-color: var(--color-headings);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav__brand {
  transform: translateY(4px);
}

.nav__toggler {
  width: 5rem;
  height: 4.5rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.nav__toggler span {
  background: var(--color-secondary);
  border-radius: 9px;
  display: block;
  height: 4px;
  left: 0;
  opacity: 1;
  position: absolute;
  width: 80%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav__toggler span:nth-child(1) {
  top: 5px;
}

.nav__toggler span:nth-child(2),
.nav__toggler span:nth-child(3) {
  top: 20px;
}

.nav__toggler span:nth-child(4) {
  top: 34px;
}

.nav--expanded .nav__toggler span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav--expanded .nav__toggler span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav--expanded .nav__toggler span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav--expanded .nav__toggler span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav__list {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  transition: all 0.25s;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #6e6e6e;
}

.nav__item > a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-secondary);
}

.nav--expanded .nav__list {
  max-height: 100%;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    width: auto;
    max-height: 100%;
    opacity: 1;
  }

  .nav__item {
    font-size: 1.6rem;
    border-bottom: 0;
  }
}

/* Product Card */
.product .card__header,
.product .card__body {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
}

.product__image {
  overflow: hidden;
  border-radius: 7px;
  cursor: pointer;
}

.product__image img {
  display: block;
  width: 100%;
  transition: transform 0.5s;
}

.product__image img:hover {
  transform: scale(1.2);
}

.product__name {
  color: var(--color-headings);
  display: inline-block;
  font-size: 2.5rem;
  margin-top: 1.2rem;
}

.product__rate {
  font-size: 2.2rem;
  color: var(--color-primary);
  font-weight: bold;
}

.product__rate > span {
  color: var(--color-body);
  font-weight: normal;
  font-size: 1.5rem;
}

.product .card__body {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
}

/* Footer */
.footer.block {
  background-color: var(--color-headings);
}

.footer__section {
  border-bottom: 1px solid #6e6e6e;
  padding: 2rem;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-secondary);
  transition: color 0.3s;
}

.footer .list {
  margin-top: 0;
  text-transform: capitalize;
}

.footer .list li {
  margin-bottom: 0.4rem;
}

.footer .collapsible__heading {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.footer .collapsible__toggler {
  filter: invert();
}

.footer__brand > img {
  margin-bottom: 1rem;
}

.footer__brand {
  text-align: center;
  margin-top: 5rem;
}

.footer__copyright {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .footer {
    font-size: 1.5rem;
  }

  .footer__sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer__section {
    border: 0;
  }

  .footer .collapsible__heading {
    font-size: 1.7rem;
  }

  .footer .collapsible__toggler {
    display: none;
  }

  .footer .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  .footer__brand {
    order: -1;
    margin-top: 1.5rem;
  }
}

/* Feature */
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature:first-of-type {
  margin-top: 6rem;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Showcase */
.block-showcase__image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    width: auto;
  }
}

/* Hero */
.hero {
  background: url('../../public/assets/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 0px 5px 10px #000000;
}

.hero__overlay {
  background-color: rgba(0, 0, 0, 0.35);
}

.hero__headline {
  margin-top: 0;
  color: #fff;
  text-transform: capitalize;
}

.hero__tagline {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 3rem 0 4rem;
}

.hero .btn {
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .hero .block {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
